:root{
    --black-color: rgb(48, 46, 46);
    --white-color: rgb(255, 255, 255);
    --gray-color: rgb(143, 143, 143);
    --red-color: rgb(255, 0, 0);
    --primary-color: rgb(252, 55, 6);
    --border-color: rgb(216, 216, 216);
}
*{
    box-sizing: inherit;    
}
html {
    /* 16px */
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    background-color: #f5f5f5;
    color: var(--black-color);
}
body{
    margin: 0;
}
.app{
    overflow: hidden;
}
.main{
    margin-top: 120px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
button{
    border: none;
    cursor: pointer;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*  */
.wrapper{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.flex-r{
    display: flex;
    align-items: center;
}

/* Button */
.btn{
    height: 34px;
    font-size: 1.4rem;
    padding: 0 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    cursor: pointer;
}
.btn--small{
    height: 30px;
}
.btn--disable{
    opacity: 0.4;
}
.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn--transparent{
    background-color: transparent;
    color: #686868;
}
.btn--transparent:hover{
    color: var(--primary-color);
}
/* horizontal list */
.list-wrapper{
    flex: 1;
    position: relative;
    height: 100%;
}
.list-hor{
    overflow: hidden;
    flex: 1;
    height: 100%;
}
.scroll-list{
    display: flex;
    /* overflow: hidden; */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    justify-content: space-between;
    transition: ease 1s;
}

.list-hor::-webkit-scrollbar{
    display: none;
}
.list-wrapper:hover .move-btn{
    zoom: 2;
    pointer-events: all;
}
.see-all-link{
    justify-items: flex-end;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 400;
}

/* Modal css */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: 2;
    display: none;
    margin: auto;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.modal__body{
    margin: auto;
    position: relative;
    width: 100%;
    z-index: 3;
    
}
.auth-form{
    display: none;
    margin: auto;
    
}



/* Vertical list */
.list-product{
    display: flex;
    flex-wrap: wrap;
}

.product{
    width: 20%;
    /* padding: 5px; */
    box-sizing: border-box;
}
.product-6{
    width: calc(100% / 6);
    padding: 4px;
}
.product-6:hover{
    padding-top: 2px;
}
.product-6 .product__link{
    margin: 0;
}

.product__link--hover:hover{
    border-color: red;
    margin-top: 3px;
    margin-bottom: 7px;
}

.product__link--hover:hover .tag-hover{
    display: block;
}
.product__link{
    display: block;
    position: relative;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: var(--white-color);
    margin: 5px;
}
.discount-tag{
    position: absolute;
    right: 6px;
    top: 4px;
    width: 50px;
    padding-top: 4px;
    text-align: center;
    height: 45px;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.7rem;
    background-color: rgba(255, 208, 0, 0.9);
}
.discount-tag::after{
    content: "";
    position: absolute;
    top: 45px;
    right: 0px;
    border-width: 0 25px 5px 25px;
    border-style: solid;
    border-color: rgba(255, 208, 0, 0.9) rgba(255, 208, 0, 0.9) transparent rgba(255, 208, 0, 0.9);

}
.discount-tag--small{
    zoom: 0.7;
    top: 0;
    right: 0;
}

.fav-tag{
    background-color: var(--primary-color);
    position: absolute;
    color: white;
    width: 50px;
    left: -3px;
    top: 12px;
    font-size: 1.2rem;
}
.fav-tag::after{
    content: "";
    position: absolute;
    border-top: rgb(197, 49, 4) 3px solid;
    border-left: transparent 3px solid;
    left: 0px;
    top: 14px;
}
.product__img{
    padding-top:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.product__inf{
    padding: 10px;
}

.product__name{
    font-size: 1.3rem;
    height: 28px;
    line-height: 1.4rem;
    color: var(--black-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.product__promotions{
    display: flex;
    margin-top: 4px;
    color: var(--white-color);
    font-size: 1rem;
}
.product__discount{
    display: flex;
    align-items: flex-end;
}
.product__discount-svg{
    height: 16px;
}

.product__discount-amount{
    background-color: #f69113;
    height: 16px;
    line-height: 16px;
}
.product__price-group{
    margin-top: 10px;
    display: flex;
}
.product__desc{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
    margin-top: 4px;
}
.product__price{
    font-size: 1.5rem;
    margin: 0;
    color: red;
}
.product__price--old{
    color: var(--gray-color);
    margin-right: 6px;
    text-decoration: line-through;
}
.product__review{
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    height: 24px;
}
.product__like{
    flex: 1;
    
}

i.heart--fill{
    color: var(--red-color);
    display: none;
}
.product__like--liked .heart--fill{
    display: inline-block;
}
.product__like--liked .heart--emty{
    display: none;
}
.rate{
    padding: 0 5px;
    color: rgb(255, 196, 0);
    font-size: 1.2rem;
    display: flex;
    width: 90px;
    justify-content: space-around;
    line-height: 100%;
}
.rate--small{
    width: 60px;
    font-size: 0.8rem;
}
.product__quality-sold{
    font-size: 1.2rem;
    color: var(--gray-color);
}
.product__sell-place{
    text-align: end;
    font-size: 1.2rem;
    color: var(--gray-color);
}
.tag-hover{
    height: 30px;
    background-color: red;
    width: calc(100% + 2px);
    position: absolute;
    bottom: -28px;
    z-index: 3;
    left: -1px;
    color: white;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    display: none;
    border-radius: 0px 0px 3px 3px;
}

/* Slider */
.slider{
    flex: 2;
    height: 100%;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    
}
.slider--radius{
    border-radius: 2px;
}
.slider__link{
    display: none;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}
.slider__link.active{
    display: block;
    animation: linear 1s;
    
}
.slider-btn{
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    line-height: 50px;
    height: 50px;
    width: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.171);
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
}
.slider:hover .slider-btn{
    display: block;
}
.slider-btn-index{
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white-color);
}
.slider-btn-index.active{
    background-color: var(--white-color);
}


/* Page controller */
.page-controller{
    display: flex;
    justify-content: center;
    margin-top: 40px
}
.page-controller--small{
    zoom: 0.8;
    justify-content: right;
    margin-top: 26px;
}
.search__page-controller-btn{
    margin: 0 15px;
    font-size: 1.8rem;
    
}

.search__page-controller-btn--pre,.search__page-controller-btn--next{
    background-color: transparent;
    color: #686868;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes Grow {
    from{
        transform: scale(0);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}




.flex-r-c1{
    width: 80%;
}
.flex-r-c2{
    width: 20%;
    align-self: flex-start;
    margin-left: 16px;
    /* display: none; */
}
.flex-r-c1 .section{
    width: auto;

}
.product-container{
    margin-top: 30px;
}

