.section-banner-highlight{
    background-color: var(--white-color);
    padding-top: 30px;
    box-sizing: content-box;
    overflow: hidden;

    
}

.banner-with-slider{
    display: flex;
    height: 235px;
    box-sizing: border-box;
    
}

/* Slider */
.slider{
    flex: 2;
    height: 100%;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    
}
.slider--radius{
    border-radius: 2px;
}
.slider__link{
    display: none;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    
}
.slider__link.active{
    display: block;
    animation: linear 1s;
    
}
.slider-btn{
    display: none;
    position: absolute;
    top: calc(50% - 25px);
    line-height: 50px;
    height: 50px;
    width: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.171);
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
}
.slider:hover .slider-btn{
    display: block;
}
.slider-btn-index{
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white-color);
    cursor: pointer;
}
.slider-btn-index.active{
    background-color: var(--white-color);
}
.banner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__img{
    object-fit: cover;
    width: 100%;
    height: 49%;
    border-radius: 2px;
}
.highlight{
    display: flex;
    height: 108px;
    margin-top: 10px;
    justify-content: space-around;
}
.highlight__item{
    width: 100px;
    padding-top: 20px;
    display: block;
    text-align: center;

}
.highlight__item:hover{
    padding-top: 18px;
}
.highlight__img{
    height: 45px;
    width: 45px;
 
}
.highlight__text{
    font-size: 1.3rem;
    margin: 0;
}
/* Container */
.container{
    /* display: grid; */
    gap: 20px;
}

.section__heading{
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 60px;
    padding: 20px;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.section__content{
    position: relative;
    height: 100%;
}



/* Category */
.category-section{
    height: 357px;
}

.category-list .scroll-list{
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    align-content: flex-start;
}
.category__item{
    width: 120px;
    height: 50%;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    box-sizing:border-box;
    text-align: center;
    padding: 5px;
}
.category__item:hover{
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.137);
}
.category__img{
    margin-top: 10px;
    height: 80px;
    object-fit: contain;
}
.category__text{
    font-size: 1.4rem;
    line-height: 2rem;
    color: black;
    text-align: center;
    box-sizing: border-box;
    overflow:hidden;
    margin: 6px;
    flex: 1;
    text-transform: capitalize;
}
/* Flash sale content */
.section__heading--sale{
    color: var(--red-color);
    font-weight: 600;
    font-size: 2rem;
    border: none;
}
/* .section__content--sale{
    height: 240px;
    
    
} */

.list-sale-product{
    overflow:hidden;
    display: flex;
    /* width: 100%; */
}

.sale__product{
    min-width: calc(100% / 6);
    width: calc(100% / 6);
    padding: 8px 15px 15px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}
.sale__product-img{
    height: 172px;
    object-fit: cover;

}

.sale__price{
    color: red;
    height: 25px;
    line-height: 26px;
    font-size: 2rem;
}
.sale__quality{
    margin: 0 6px;
    background-image: linear-gradient(90rad, rgb(233, 10, 10), rgb(255, 196, 0));
    border-radius: 8px;
    height: 17px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--white-color);
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.sale__product-sold{
    z-index: 1;
    position: relative;
}
.sale__product-remain{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(247, 167, 167);
    border-radius: 0 8px 8px 0px;
    /* z-index: 1; */
}


/* Banner section */
.banner-section{
    border-radius: 0;
    flex-direction: row;
    background-color: red;
    height: 110px;
}
.banner-section__link{
    flex: 1;
    padding: 6px;
}
.banner-section__img{
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
}
.banner-item{
    flex: 1;
    /* width: 400px; */
}
/* Shop Mall */
.mall-section{
    height: 537px;
}
.section__heading--mall{
    color: rgb(163, 6, 6);
    height: 60px;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.mall-head{
    padding: 0;
    display: flex;
    align-items: center;
}
.mall-head__separation{
    position: relative;
    line-height: normal;
    margin-right: 15px;
    font-size: 1.7rem;
}
.mall-head__title::after{
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    border-right: 1px solid rgb(212, 212, 212);
}
.mall-head__img{
    height: 20px;
    width: 20px;
}

.mall-head__title{
    padding: 0 14px;
    position: relative;
}
.mall-head__item{
    display: flex;
    flex-direction: row;
    margin-left: 14px;
    align-items: center;
}
.mall-head__text{
    text-transform: capitalize;
}

.content-mall{
    display: flex;
    height: 477px;
}
.mall__slider{
    max-width: 390px;
    width: 390px;
    margin: 12px 0px 0px 14px;
    box-sizing: border-box;
    
}
.mall__list{
    /* overflow:hidden; */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: red;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.mall__list-link{
    height: 49%;
    width: calc(100% / 4);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    
}

/* Trend search section */
/* .trend-search{
    height: 161px;
} */
.trend-search__list{
    display: flex;
}
.trend-search__link{
    display: flex;
    flex-direction: row;
    height: 104px;
    min-width: calc(100% / 5);
    border-right: 1px solid rgba(0,0,0,.05);
}
.trend-search__desc{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
    color: var(--black-color);
}
.trend-search__img{
    flex: 1;
    margin-right: 10px;
    width: 100px;
}
/* Top seach section */
/* .top-search{
    height: 351px;
} */
.top-search__list{
    display: flex;
}
.top-search__link{
    width: calc(100% / 6);
    min-width: calc(100% / 6);
    height: 290px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.top-search__img{
    height: 180px;
    position: relative;
    background-size: cover;
}

.top-tag{
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: 35px 43px;
    height: 43px;
    width: 35px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/06720e49514cbd94b7552496b4de454a.png);
}

.bot-tag{
    position: absolute;
    bottom: 0;
    background-color: rgba(73, 73, 73, 0.781);
    color: white;
    font-size: 1.4rem;
    width: 100%;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.top-search__keyword{
    flex: 1;
    font-size: 2.1rem;
    margin-top: 20px;
    line-height: 2.2rem;
}
/*  */
.section-recommend{
    background-color: transparent;
}
.recommend-nav{
    display: flex;
    justify-content: left;
    color: var(--red-color);
    padding: 0;
    background-color: var(--white-color);
}
.recommend-nav__item{
    display: flex;
    align-items: center;
    padding: 0 45px;
    border-bottom: 4px solid transparent;
    height: 100%;
}
.recommend-nav__item--active{
    border-color: var(--red-color);
}
.product-recommend{
    width: calc(100% / 6);
}

.load-more{
    text-align: center;
}
.load-more-btn{
    color: var(--black-color);
    width: 390px;
    height: 35px;
    border: 1px solid rgba(221, 221, 221, 0.747);
    background-color: var(--white-color);
    border-radius: 2px;
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 30px auto 0;
}