/* Header */
.header{
    height: 120px;
    background-image: linear-gradient(0, rgb(255, 115, 0), rgb(243, 3, 3));
    color: var(--white-color);
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}


.list-wrapper{
    flex: 1;
    width: 100%;
    height: 100%;
    position: relative;
}
/* Navbar */
.navbar{
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 8px 0;
    align-content: center;
}
.navbar__list{
    display: flex;
    align-content: center;
    
    
}
.navbar__item{
    padding: 0 10px;
    position: relative;
    display: flex;
    align-items: center;
}
.navbar__item--separation::after{
    content: '';
    position: absolute;
    left: 0px;
    top: calc(50% - 6px);
    height: 12px;
    border-right: 2px solid rgba(255, 198, 152, 0.5);
}
.navbar__link{
    text-decoration: none;
    display: flex;
    

}
.navbar__link:hover{
    opacity: 0.7;
}
.navbar__icon{
    font-size: 1.5rem;
    margin-right: 5px;
}

/* QR code */
.qr{
    width: 180px;
    padding: 3px;
    left: 0;
}
.qr::before{
    content: "";
    display: block;
    position:absolute;
    height: 20px;
    width: 90px;
    left: 0px;
    top: -20px;
}

.navbar-qr:hover .qr{
    display: block;
}
.qr__img{
    width: 100%;
}
.qr__download{
    display: flex;
    justify-content: space-around;
}
.qr__download-img{
    height: 15px;
}

/* Notice */
.notice{
    width: 430px;
    right: 8px;
    border: 1px solid rgb(230, 230, 230);
}
.notice::after{
    content: "";
    display: block;
    top: -20px;
    right: 10px;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 10px 12px;
    border-style: solid;
}
.notice::before{
    content: "";
    display: block;
    position:absolute;
    height: 20px;
    width: 80px;
    right: 0px;
    top: -20px;
}
.navbar-notice:hover .notice{
    display: block;
}
.notice__heading{
    color: var(--gray-color);
    font-size: 1.3rem;
    margin: 0;
    padding: 0 7px;
    line-height: 4rem;
    font-weight: 300;
    cursor: default;
}
.notice__list{

}
.notice__link{
    background-color: rgba(253, 197, 123, 0.26);
    display: flex;
    text-decoration: none;
    color: black;
    padding: 8px;
}
.notice__link:hover{
    background-color: rgb(243, 243, 243);
}
.notice__img{
    width: 40px;
    object-fit: contain;
    object-position: top;
}
.notice__inf{
    margin-left: 4px;
}
.notice__title{
    margin: 0;
    font-size: 1.4rem;
    color: var(--black-color);
}
.notice__desc{
    font-size: 1.1rem;
    margin: 5px 0 0 0;
    color: var(--gray-color);
}
.notice__more-btn{
    width: 100%;
    padding: 10px 0;
    font-weight: 300;
    background-color: var(--white-color);
}

.notice__more-btn:hover {
    color: orangered;
}
/* Languages sellection */
.languages{
    width: 200px;
    right: 0;
    padding: 10px;
    cursor: pointer;

}
.languages::after{
    content: "";
    position: absolute;
    top: -20px;
    border-color: transparent transparent var(--white-color) transparent;
    border-width: 10px 12px;
    border-style: solid;
    right: 45px;
}
.languages::before{
    content: "";
    display: block;
    position:absolute;
    height: 20px;
    width: 120px;
    right: 0px;
    top: -20px;
}
.navbar-languages:hover .languages{
    display: block;
}
.languages__option{
    font-size: 1.4rem;
    color: var(--black-color);
    transition: color ease-in-out;
}

.languages__option:hover{
    color: var(--primary-color);
}
.languages__option--active{
    color: var(--primary-color);
}
/* .navbar-register{
    display: none;
} */
.navbar-login{
    display: none;
}
/* .navbar-user{
    display: none;
} */
.navbar-user__link{
    display: flex;
    align-items: center;
}
.navbar-user__img{
    border-radius: 50%;
    height: 22px;
    width: 22px;
}
.navbar-user__name{
    line-height: 1.3rem;
    padding: 0;
    margin: 0;
}
/* Header with search */
.header-with-search{
    height: 85px;
    display: flex;
    align-items: center;
    padding: 8px;
}
.logo{
    width: 200px;
}
.logo-img{
    width: 140px;
}
.search{
    flex: 1;
    margin-top: 10px;
    
}
.search__searchbar{
    background-color: var(--white-color);
    height: 40px;
    border-radius: 2px;
    padding: 2px;
    display: flex;
}
.search__searchbar-input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    padding: 0 10px;
    color: var(--gray-color);
    padding: 10px;
    font-weight: 300;
}
.search__searchbar-btn{
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    cursor: pointer;
}
.search-btn-icon{
    color: var(--white-color);
    font-size: 1.4rem;
}
.search__history{
    margin: 5px 0 0 0;
    display: flex;
}
.search__history-item{
    color: var(--white-color);
    font-size: 1.3rem;
    margin-right: 10px;
    
}
.cart{
    width: 150px;
    text-align: center;
}
.cart-icon{
    color: var(--white-color);
    font-size: 2rem;
}

/* Home */

.home{
    margin-top: 120px;
}
/* Section with banner */
.section-banner-feature{
    background-color: var(--white-color);
    margin-bottom: 40px;
    padding-top: 30px;
    box-sizing: content-box;
    width: 100vw;
    
}

.banner-with-slider{
    display: flex;
    height: 235px;
    box-sizing: border-box;

}
.slider{
    flex: 2;
    height: 100%;
    margin-right: 5px;
    position: relative;
    
}
.slider-img{
display: none;
}.slider-btn{
    position: absolute;
    top: calc(50% - 25px);
    line-height: 50px;
    height: 50px;
    width: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.171);
    color: var(--white-color);
    font-size: 3rem;
    cursor: pointer;
}
.slider-btn-index{
    position: absolute;
    bottom: 20px;
    left: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white-color);
}
.slider-btn-index-active{
    background-color: var(--white-color);
}
.banner{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.banner__img{
    object-fit: cover;
    width: 100%;
    height: 49%;
    border-radius: 2px;
}
.feature{
    display: flex;
    height: 108px;
    margin-top: 10px;
    justify-content: space-around;
}
.feature__item{
    width: 100px;
    padding-top: 20px;
    display: block;
    text-align: center;

}
.feature__item:hover{
    padding-top: 18px;
}
.feature__img{
    height: 45px;
    width: 45px;
 
}
.feature__text{
    font-size: 1.3rem;
    margin: 0;
}
/* Container */
.container{
    display: grid;
    gap: 20px;
}
.section{
    background-color: white;
    width: 1200px;
    margin: 0px auto;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.section__heading{
    border-bottom: 1px solid rgba(0,0,0,.05);
    height: 60px;
    padding: 20px;
    align-items: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.section__content{
    position: relative;
}
.section__content:hover .move-btn{
    zoom: 2;
    pointer-events: all;
}
.move-btn{
    position: absolute;
    top: calc(50% - 13px);
    border-radius: 50%;
    box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.137);
    background-color: var(--white-color);
    height: 25px;
    width: 25px;
    border: none;
    padding: 0;
    cursor: pointer;
  
    
}

.next-btn{
    right: -13px;
}
.pre-btn{
    left: -13px;
    
}

/* Category */
.category-list{
    display: flex;
    flex-wrap: wrap;

}
.category__item{
    width: 119px;
    height: 150px;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    box-sizing: content-box;
    text-align: center;
}
.category__item:hover{
    box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.137);
}
.category__img{
    height: 80px;
    margin-top: 10px;
    object-fit: contain;
}
.category__text{
    font-size: 1.4rem;
    color: black;
    text-align: center;
    box-sizing: border-box;
    overflow:hidden;
    margin: 8px;
    flex: 1;
    text-transform: capitalize;
}
/* Flash sale content */
.section__heading--sale{
    color: var(--red-color);
    font-weight: 600;
    font-size: 2rem;
    border: none;
}
.section__content--sale{
    height: 240px;
    
    
}

.list-sale-product{
    overflow:hidden;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sale__product{
    min-width: 200px;
    width: 200px;
    min-width: 200px;
    padding: 8px 15px 15px;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}
.sale__product-img{
    height: 172px;
    object-fit: cover;

}

.sale__price{
    color: red;
    height: 25px;
    line-height: 26px;
    font-size: 2rem;
}
.sale__quality{
    margin: 0 6px;
    background-image: linear-gradient(90rad, rgb(233, 10, 10), rgb(255, 196, 0));
    border-radius: 8px;
    height: 17px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: var(--white-color);
    text-align: center;
    position: relative;
    z-index: 0;
}

.sale__product-sold{
    z-index: 1;
    position: relative;
    
}
.sale__product-remain{
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgb(247, 167, 167);
    border-radius: 0 8px 8px 0px;
    /* z-index: 1; */
}
.discount-tag{
    position: absolute;
    right: 6px;
    top: 4px;
    width: 50px;
    padding-top: 4px;
    text-align: center;
    height: 45px;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.7rem;
    background-color: rgba(255, 208, 0, 0.9);
}
.discount-tag::after{
    content: "";
    position: absolute;
    top: 45px;
    right: 0px;
    border-width: 0 25px 5px 25px;
    border-style: solid;
    border-color: rgba(255, 208, 0, 0.9) rgba(255, 208, 0, 0.9) transparent rgba(255, 208, 0, 0.9);

}

/* Banner section */
.banner-section{
    border-radius: 0;
    flex-direction: row;
    background-color: red;
    height: 110px;
}
.banner-section__link{
    flex: 1;
    padding: 6px;
}
.banner-section__img{
    border-radius: 10px;
    object-fit: cover;
    border-radius: 10px;
}
.banner-item{
    flex: 1;
    /* width: 400px; */
}
/* Shop Mall */
/* .mall-section{
    height: 537px;
} */
.section__heading--mall{
    color: rgb(163, 6, 6);
    height: 60px;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.mall-head{
    padding: 0;
    display: flex;
    align-items: center;
}
.mall-head__separation{
    position: relative;
    line-height: normal;
    margin-right: 15px;
    font-size: 1.7rem;
}
.mall-head__separation::after{
    content: "";
    position: absolute;
    right: -20px;
    height: 100%;
    border-right: 1px solid rgb(212, 212, 212);
}
.mall-head__img{
    height: 20px;
    width: 20px;
}

.mall-head__item{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    align-items: center;
}
.mall-head__text{
    text-transform: capitalize;
}
.see-all-link{
    justify-items: flex-end;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 300;
}
.content-mall{
    display: flex;
    height: 477px;
}
.mall__slider{
    height: 100%;
    width: 390px;
    padding: 12px 0px 0px 14px;
    box-sizing: border-box;
    
}
.mall__list{
    overflow:hidden;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: red;
    height: 100%;
    width: 100%;
}

.mall__list-link{
    height: 49%;
    width: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 20px;
    font-size: 2rem;
    
    
}

/* Trend search section */
/* .trend-search{
    height: 161px;
} */
.trend-search__list{
    display: flex;
}
.trend-search__link{
    display: flex;
    flex-direction: row;
    height: 104px;
    width: calc(100% / 5);
    border-right: 1px solid rgba(0,0,0,.05);;
}
.trend-search__desc{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
    color: var(--black-color);
}
.trend-search__img{
    width: 100px;
    margin-right: 10px;
}
/* Top seach section */
/* .top-search{
    height: 351px;
} */
.top-search__list{
    display: flex;
}
.top-search__link{
    width: 200px;
    height: 290px;
    padding: 20px 10px;
    box-sizing: border-box;
}

.top-search__img{
    height: 180px;
    position: relative;
}
.top-tag{
    position: absolute;
    left: 0px;
    top: 0px;
    background-size: 35px 43px;
    height: 43px;
    width: 35px;
    background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/06720e49514cbd94b7552496b4de454a.png);
}

.bot-tag{
    position: absolute;
    bottom: 0;
    background-color: rgba(73, 73, 73, 0.781);
    color: white;
    font-size: 1.4rem;
    width: 100%;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
.top-search__keyword{
    flex: 1;
    font-size: 2.1rem;
    margin-top: 20px;
    line-height: 2.2rem;
}
/*  */
.section-recommend{
    background-color: transparent;
}
.recommend-nav{
    display: flex;
    justify-content: left;
    color: var(--red-color);
    padding: 0;
    background-color: var(--white-color);
}
.recommend-nav__item{
    display: flex;
    align-items: center;
    padding: 0 45px;
    border-bottom: 4px solid transparent;
    height: 100%;
}
.recommend-nav__item--active{
    border-color: var(--red-color);
}
.recommend-product__list{
    display: flex;
    flex-wrap: wrap;
    height: 560px;
}
.product{
    position: relative;
    width: 190px;
    background-color: white;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    max-height: 270px;
    
}
.discount-tag--small{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 36px;
    text-align: center;
    height: 32px;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: rgba(255, 208, 0, 0.9);
}
.discount-tag--small::after{
    content: "";
    position: absolute;
    top: 32px;
    right: 0px;
    border-width: 0 18px 4px 18px;
    border-style: solid;
    border-color: rgba(255, 208, 0, 0.9) rgba(255, 208, 0, 0.9) transparent rgba(255, 208, 0, 0.9);

}
.fav-tag{
    background-color: red;
    position: absolute;
    color: white;
    width: 50px;
    left: -3px;
    top: 20px;
}
.fav-tag::after{
    content: "";
    position: absolute;
    border-top: rgb(197, 4, 4) 3px solid;
    border-left: transparent 3px solid;
    left: 0px;
    top: 16px;
}
.rcm-product-img{
    height: 190px;
}
.product__name{
    font-size: 1.3rem;
    height: 48px;
    padding: 12px;
    color: var(--black-color);
}
.product__desc{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 0 12px 12px;
}
.product__price{
    font-size: 1.5rem;
    margin: 0;
    color: red;
}
.product__quality-sold{
    font-weight: 300;
}

.tag-hover{
    height: 30px;
    background-color: red;
    width: calc(100% + 2px);
    position: absolute;
    bottom: -28px;
    z-index: 3;
    left: -1px;
    color: white;
    font-size: 1.5rem;
    line-height: 30px;
    text-align: center;
    display: none;
    border-radius: 0px 0px 3px 3px;
}
.product:hover{
    border-color: red;
    margin-top: 0;
    
}
.product:hover .tag-hover{
    display: block;
}
.load-more{
    text-align: center;
}
.load-more-btn{
    color: var(--black-color);
    width: 390px;
    height: 35px;
    border: 1px solid rgba(221, 221, 221, 0.747);
    background-color: var(--white-color);
    border-radius: 2px;
    font-size: 1.6rem;
    box-sizing: border-box;
    margin: 30px auto;
}
.footer{
    border-top: 4px solid red;
}
.footer__gap{
    width: 100%;
    min-height: 100px;
    background-color: var(--white-color);
}
.footer__list{
    margin-top: 50px;
    display: flex;
    margin-bottom: 30px;
}
.footer__item{
    flex: 1;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--gray-color);
}
.footer__heading{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 500;
}
.footer__nav{
    margin-bottom: 30px;
}
.footer__nav-link{
    line-height: 2.7rem;
}
.footer__nav-link:hover{
    color: var(--primary-color);
}
.footer__nav--img{
    display: flex;
    flex-wrap: wrap;
}
.footer__img{
    width: 55px;
    height: 29px;
    object-fit: contain ;
}
.footer__download{
    display: flex;
}
.footer__download-app{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Auth */
.auth-form{
    background-color: var(--white-color);
    width: 450px;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 30px 32px;
}
.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.auth-form__heading{
    font-size: 2rem;
    font-weight: 400;
}
.auth-form__switch{
    font-size: 1.7rem;
    background-color: transparent;
    color: var(--primary-color);
}
.auth-form__form{
    margin-top: 30px;
}

.auth-form__input{
    height: 40px;
    width: 100%;
    margin-bottom: 16px;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}
.auth-form__input:focus{
    border-color: var(--black-color);
}
.auth-form__police{
    padding: 15px 8px;
    font-size: 1.2rem;
    text-align: center;
}
.auth-form__police-link{
    color: var(--primary-color);
}
.auth-form__control{
    margin-top: 36px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
    background-color: var(--white-color);
}
.auth-form__control-back:hover{
    background-color: rgb(231, 231, 231);
}
.auth-form__socials{
    background-color: rgb(238, 238, 238);
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
}
.btn--with-icon{
    flex: 1;
    height: 32px;
    margin: 6px;
    
}
.auth-form__socials--facebook{
    background-color: rgb(59,89,152);
    color: var(--white-color);
}
.auth-form__socials--google{
    background-color: var(--white-color);
}
.auth-form__socials-img{
    margin-right: 15px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.auth-form__help{
    display: flex;
    justify-content: flex-end;
    font-size: 1.2rem;
}
.auth-form__forgot-password{
    color: var(--primary-color);
}
.auth-form__separate{
    border-left: 1px solid var(--border-color);
    margin: 0 8px;
}
.auth-form__help-link{
    color: var(--gray-color);
}
