/* Responsive */
/* Mobile & tablet */
@media (max-width: 1023px) {
    .hide-on-mobile-tablet{
        display: none !important;
    }
    
    .wrapper{
        width: 100%;
    }
    .header-with-search{
        height: 100%;
       
    }
    .banner-wrapper{
        width: 100% !important;
    }
    .section-banner-highlight{
        padding: 0;
    }
    .slider{
        margin: 0;
    }
    .list-hor{
        overflow-x: scroll;
    }
    .highlight__item{
        padding: 0;
    }
    .mall-head__item{
        display: none;
    }
   
    .content-mall{
        flex-direction: column;
    }
    .mall__slider{
        margin: 0;
        min-width: 100%;
        height: 300px;
    }
    .mall__list{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 12px 0;
    }
    .mall__list-link{
        zoom: 0.7;
        border: 1px solid rgba(0,0,0,.05);
        border-radius: 2px;
        margin: 0 6px;
        box-sizing: border-box;
        height: 100%;
        min-width: 180px;
    }
    .content-mall{
        height: auto;
    }
    .mall__list{
        height: 180px;
    }
    .product__img{
        padding: 0;
    }
    
    /* Search */
    
    .sort-bar{
        position: fixed;
        
        z-index: 1;
        width: 100%;
        padding: 0;
        height: auto;
    }
    .sort-option{
        padding: 0;
        margin: 0;
    }
    .sort-btn{
        width: 25%;
        margin: 0;
    }
    .product-desc{
        flex-direction: column;
    }
    .product-desc>div{
        width: 100%;
    }
    .left-colum{
        padding: 0;
    }
    .list-img{
        margin-top: 0;
    }
    .list-img__img{
        border: 0;
    }
    .res-img{
        max-height: fit-content;
        height: auto;
        overflow-x: scroll;
    }
    .res-img .list-img__img{
        width: 100%;
        min-width: 100%;
    }
    .shop{
        flex-direction: column;
    }
    .res-c{
        flex-direction: column;
    }
    .flex-r-c1{
        order: 2;
       width: 100%;
        overflow: hidden;
    }
    .flex-r-c2{
        order: 1;
        width: 100%;
        margin-left: 0;
    }
    .section-voucher{
        width: 100%;
        margin-left: 0;
    }
    .group_voucher{
        display: flex;
        overflow-x: scroll;
        width: 100%;
        
    }
    .voucher{
        padding-right: 10px;
        min-width: 220px;
    }

    

    
}
/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet{
        display: none;
    }
    #main{
        margin-top: 68px;
    }
    header{
        height: 68px;
    }
    .search{
        width: 60%;
    }
    .header-with-search{
        padding: 8px 20px;
       
    }
    .cart{
        text-align: right;
    }
    .trend-search__link{
        min-width: 25%;
    }
    .trend-search__list{
        overflow-x: scroll;
        
    }
    .sale__product{
        width: 24%;
        min-width: 24%;
        zoom: 0.9;
    }
    .top-search__link{
        width: 24%;
        min-width: 24%;
        zoom: 0.9;
        
    }
    .product-recommend{
        width: calc(100% / 4);
    }
    .product__img{
        height: 210px;
    }
    /* Search */
    .product{
        min-width: calc(100% / 4);
    }
    .sort-bar{
        top: 68px;
    }
    
}

/* Mobile */
@media (max-width: 739px) {
    .hide-on-mobile{
        display: none;
    }
    header{
        height: 50px;
    }
    .header-with-search{
        padding: 8px;
       
    }
    .logo{
        display: none;
    }
    
    .search{
        width: 86%;
        margin-top: 0;
    }
    .highlight{
        justify-content: flex-start;
    }
    .highlight__item{
        min-width: 90px;
    }
    .banner{
        display: none;
    }
    .wrapper{
        zoom: 0.9;
    }
    .trend-search__list{
        flex-direction: column;
        height: 208px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
    }
    .trend-search__link{
        min-width: 50%;
        max-width: 50%;
        border-bottom: 1px solid rgba(0,0,0,.05);
   
        padding: 4px;
    }
    .sale__product{
        width: 38%;
        min-width: 38%;
        zoom: 0.8;
    }

    #main{
        margin-top: 50px;
    }
    .search-page.main{
        margin-top: 80px;
    }
    .top-search__link{
        width: 36%;
        min-width: 36%;
        zoom: 0.8;
        
    }
    .product-recommend{
        width: calc(100% / 2);
    }
    .product__img{
        height: 186px;
    }
    .product{
        min-width: calc(100% / 2);
    }
   
    .page-controller{
        zoom: 0.8;
    }

    .sort-bar{
        top: 56px;
    }
    
    .review__list-img{
        flex-wrap: wrap;
        height: 168px;
    }
    .review__comment-item{
        padding: 10px 0;
    }
    .review__comment-item{
        zoom: 0.8;
    }
    .group-btn-buy{
        position: fixed;
        bottom: 0%;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: var(--white-color);
    }
    .group-btn-buy .btn{
        flex: 1;
        margin: 0;
        border-radius: 0;
    }
    .footer__list{
        flex-wrap: wrap;
    }
    .footer__item{
        min-width: calc(100%/2);
    }

}
